<div fxLayout fxLayout.gt-sm="row" fxLayout.xs="column" fxLayout.sm="column">
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <span fxFlexOffset.gt-sm="5%"></span>
    <img src="assets/dashboard.ico">
    <button mat-button [routerLink]="['/trainers/home']">
      <span style="font-size: 20px;">Trainer's Tutorials</span>
    </button>
    <span fxFlex.gt-sm></span>
    <button mat-button fxHide.lt-md [routerLink]="['/trainers/requestAccess']">
      <mat-icon>pan_tool</mat-icon>
      <span style="padding-left: 5px;padding-right: 5px;">Request Access</span>
    </button>

    <button mat-button (click)="openUserProfile()" fxHide.lt-md>
      <mat-icon>account_circle</mat-icon>
      <span style="padding-left: 5px;padding-right: 5px;">Suresh</span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>

    <mat-form-field>
      <mat-select [(ngModel)]="selectedLanguage">
        <mat-option *ngFor="let language of languages" [value]="language.languageId">
          {{ language.languageTxt }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-button [routerLink]="['/trainers/about']" fxHide.lt-md>
      <mat-icon>info</mat-icon>
      <span style="padding-left: 5px;">About</span>
    </button>
  </mat-toolbar>
</div>

<div fxShow.lt-md fxHide.gt-sm fxLayout="row" fxLayout.gt-sm="row" fxLayout.xs="column" fxLayout.sm="column" 
  fxLayoutAlign="center" style="background: #ba0163;">
  <mat-toolbar-row class="mat-elevation-z1">
    <span fxFlex></span>
    <button mat-button [routerLink]="['/trainers/requestAccess']">
      <mat-icon style="color: white;">pan_tool</mat-icon>
      <span style="padding-left: 5px;padding-right: 5px;color: white;">Request Access</span>
    </button>
      <button mat-button (click)="openUserProfile()">
          <mat-icon style="color: white;">account_circle</mat-icon>
          <span style="padding-left: 5px;padding-right: 5px;color: white">Suresh</span>
          <mat-icon style="color: white">keyboard_arrow_down</mat-icon>
        </button>
        <button mat-button [routerLink]="['/trainers/about']">
          <mat-icon style="color: white">info</mat-icon>
          <span style="padding-left: 5px;color: white;">About</span>
        </button>
  </mat-toolbar-row>
</div>