<div fxLayout="row" class="details-container" fxLayoutAlign="start">
  <span fxFlexOffset="1%"></span>
  <a [routerLink]="['/trainers/home']"><span style="font-size: 15px;">Back to Dashboard</span></a>
</div>

<div fxLayout="row" fxLayoutAlign="end" style="padding: 20px;" fxLayoutGap="10%">
  <button mat-raised-button style="border-radius: 10px;">Previous</button>
  <button mat-raised-button color="accent">Next</button>
</div>

<div fxLayout="column">
  <mat-card>
    <div fxLayout="row" style="height: 100px;background-color: orangered;">
      <span style="color: white;" >Angular Framework @Latest(Version 4)</span>
    </div>
  </mat-card>
</div>