<div fxLayout="row" style="padding: 30px;" fxLayoutGap="40px">
  <mat-card class="mat-elevation-z8">
    <span>Angular Framework - @latest(version 4)</span>

    <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px" style="padding: 30px;">
      <button mat-raised-button class="mat-elevation-z3">View</button>
      <button mat-raised-button color="warn" class="mat-elevation-z3" (click)="showAngularModules()">Continue</button>
    </div>
  </mat-card>

  <mat-card class="mat-elevation-z8">
      <span>Ionic Framework - @latest(version 3)</span>
  
      <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px" style="padding: 30px;">
        <button mat-raised-button class="mat-elevation-z3">View</button>
        <button mat-raised-button color="warn" class="mat-elevation-z3">Continue</button>
      </div>
    </mat-card>
</div>