@import '~@angular/material/theming';

@import './_variables';
@import '../app/trending-blogs/trending-blogs.scss-theme';

@mixin trending-blogs-component($theme){
  @include trending-blogs-theme($theme);
}

$mat-pink: (
    50: #fce4ec,
    100: #f8bbd0,
    200: #f48fb1,
    300: #f06292,
    400: #ec407a,
    500: #e91e63,
    600: #d81b60,
    700: #BA0163,
    800: #ad1457,
    900: #880e4f,
    A100: #ff80ab,
    A200: #ff4081,
    A400: #f50057,
    A700: #c51162,
    contrast: (
      50: $black-87-opacity,
      100: $black-87-opacity,
      200: $black-87-opacity,
      300: $black-87-opacity,
      400: $black-87-opacity,
      500: white,
      600: white,
      700: $white-87-opacity,
      800: $white-87-opacity,
      900: $white-87-opacity,
      A100: $black-87-opacity,
      A200: white,
      A400: white,
      A700: white,
    )
  );

$dashboard-light-theme-primary: mat-palette($mat-pink, 700);
$dashboard-light-theme-accent: mat-palette($mat-light-green, 200);
$dashboard-light-theme-warn: mat-palette($mat-red);

$dashboard-light-theme: mat-light-theme(
    $dashboard-light-theme-primary,
    $dashboard-light-theme-accent,
    $dashboard-light-theme-warn
);

@include angular-material-theme($dashboard-light-theme);
@include trending-blogs-component($dashboard-light-theme);