<div fxLayout="column" fxFlexOffset="10px">
  <mat-card class="mat-elevation-z10">
      <mat-card-content>
          Angular Framework @Latest(Version 4)
      </mat-card-content>
      <mat-card-actions align="end">
          <button mat-raised-button style="border-radius: 8px;">View</button>          
          <button mat-raised-button color="warn" style="border-radius: 8px;" [routerLink]="['/trainers/program-details']">Continue</button>          
      </mat-card-actions>
  </mat-card>
</div>