@import url('https://fonts.googleapis.com/css?family=PT+Sans');

$app-typography: mat-typography-config(
    $font-family:'PT Sans, sans-serif',
    $headline: mat-typography-level(18px, 48px, 700),
    $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-core($app-typography);